.git
.gitignore
.github

node_modules
.next
out

.env*
!.env.example

**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
tests/
coverage/

*.md
.editorconfig
.eslintrc*
eslint.config*
prettier.config*
.prettierrc*

Dockerfile
.dockerignore
